@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    font-family: Outfit;
}

body{
    background-color: #0d1a2d;
}
.card {
    align-items: center;
    /* justify-content: center; */
    box-shadow: 1px 22px 9px 20px #0c1729;
    border-radius: 17px;
    margin-left: 37.5%;
    width: 25%;
    /* display: flex; */
    flex-direction: column;
    margin-top: 5%;
    /* height: 450px; */
    background-color: #15273f;
}
.card img{
    margin-left: 5%;
    width: 90%;
    margin-top: 4%;
    border-radius: 12px;
}
.card h3{
    color: #dce8e6
}
.text{
    margin-top: -6px;
    margin-left: 8%;
}
.text p{
    font-size: 15px;
    color: #87a7d6;
}
#lefticon{
    width: 14%;
}
.lefticon h5{
    color:#00fffb
}
.lefticon {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: baseline;
}
.righticon{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: baseline;
    width: 42%;
}
.righticon h5{
    color: #92afdb;
}
.righticon img{
    margin: 0px;
}
.icons{
    display: flex;
    justify-content: space-between;
    margin-right: 4%;
    margin-left: 5%;
}
.card hr{
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid #20324a;
    margin-top: 0px;
    margin-bottom: 0px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 3%;
    padding-bottom: 3%;
    color: #dce8e6;
}
.footer img{
    width: 11%;
    height: 11%;
    
        border-radius: 50%;
        border: 1px solid  #dce8e6;
        ;
    
}
.footer span{
    color: #87a7d6;
}

.lefticon, .righticon {
    align-items: center;
  }
  