@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    font-family: Outfit;
}

body{
    display: flex;
    background-color: #0d1a2d;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex
;
    justify-content: center;
    align-items: center;
}
.card {
    padding: 3%;
    align-items: center;
    box-shadow: 1px 22px 9px 20px #0c1729;
    border-radius: 17px;
    width: 50%;
    display: flex
;
    flex-direction: column;
    background-color: #15273f;
}
.card img {
    width: 100%;
    border-radius: 12px;
}
.card h3{
    color: #dce8e6
}
.text {
    margin: auto;
    width: 90%;
}
.text p{
    font-size: 15px;
    color: #87a7d6;
}
.icons {
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.lefticon{
    gap: 12px;
    display: flex;
    align-items: center;
    color:#00fffb;

}
.righticon {
    color: #92afdb;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.righticon img{
    width: auto;
}
hr{
    border: 2px solid #20324a;
    width: 100%;
}
.footer {
    display: flex;
    color: #dce8e6;
    flex-direction: row;
    gap: 10%;
    width: 100%;
    align-items: center;
}
#footerimg {
    border: 1px solid;
    border-radius: 50%;
    height: 13%;
    width: 13%;
}
.footer span{
    color: #87a7d6;
}

@media (max-width:600px){
    .icons {
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }
    .lefticon{
        gap: 12px;
        display: flex;
        align-items: center;
        color:#00fffb;
    
    }.lefticon img {
        width: 12px;
    }.card h3 {
        font-size: smaller;
        color: #dce8e6;
    }.card.text{
        width: 100%;
    }
    /* .card{width: 70%;} */
}
